body {
  margin: 5rem 10rem 5rem 10rem;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.link {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header-text {
  padding: 0;
  margin-top: 1rem;
  color: rgb(11, 77, 11);
  text-align: center;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header-word {
  margin-left: 15px;
  font-size: 3.5rem;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(0, 71, 0);
  margin: 50px;
  background-color: #c3d1cf; 
  overflow: hidden;
  float: left; 
  text-decoration: none;
  
 }
h3 {
  color: rgb(33, 96, 33);
   font-family: "Baskervville", serif;
}
p {
  color:black;
  padding: 10px;
  margin: 10px;
   font-family: "Baskervville", serif;
}
h4 {
  color: rgb(5, 44, 5);
}

footer {
  text-align: center;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}
a {
  color: #2b8730; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  font-size: 17px; 
  background-color: #fffcfc;
  list-style-type: none;
}
a:hover {
  color: #063b07; 
  text-decoration: underline; 
  font-size: 17px; 
  background-color: #c3d1cf;
  border-radius: 50px;
}
input {
  width: 300px; 
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-color:#ccc;
  border-radius: 5px;
  color: #063b07;
  border: 2px gray;
}
input::placeholder {
  font-size: 14px;
  font-style: italic;
  color: #063b07;
}
input:focus {
  outline:solid 2px rgb(16, 151, 119);

}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  h1 {
    font-size: 30px;
    padding: 20px;
  } 

  .navlinks {
    display: grid;
    text-align: left;
  }
  footer {
    font-size: 12px;
    padding: 5px
  }
}