h1 {
  text-align: center;
  color: rgb(11, 77, 11);
  font-family: 'segoe script', script;
  padding: 50px;
}
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: green;
  margin: 50px;
  background-color: #c3d1cf; 
  overflow: hidden;
  float: left; 
  text-decoration: none;
  
 }
h3 {
  color: rgb(33, 96, 33);
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  margin: 10px;
}
p {
  color:black;
  padding: 10px;
  margin: 10px;
  font-family: 'arial rounded mt bold', 'Times New Roman', Times, serif;
}
h4 {
  color: rgb(5, 44, 5);
  padding: 10px;
  margin: 10px;
}
footer {
  text-align: center;
  font-family: 'Segoe script', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: #2b8730; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  font-size: 17px; 
  background-color: #fffcfc;
  list-style-type: none;
  border-right: 1px solid #080505;
}
a:hover {
  color: #063b07; 
  text-decoration: underline; 
  font-size: 17px; 
  background-color: #c3d1cf;
}
input {
  width: 300px; 
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-color:#ccc;
  border-radius: 5px;
  color: #063b07;
  border: 2px gray;
}
input::placeholder {
  font-size: 14px;
  font-style: italic;
  color: #063b07;
}
input:focus {
  outline:solid 2px rgb(16, 151, 119);

}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  h1 {
    font-size: 30px;
    padding: 20px;
  } 

  .navlinks {
    display: grid;
    text-align: left;
  }
  footer {
    font-size: 12px;
    padding: 5px
  }
}