body {
  margin: 10%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  color:#48623a
}

h1 {
    color: #5a8b40;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.project {
    background-color: #D9E9CF;
    border: 1px solid #96A78D;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(95, 64, 64, 0.1);
    text-align: center;
    
}

.project img {
    max-width: 500px;
    height: 200px;
    border-radius: 5px;
}

.project button {
    margin: 0px auto;
    padding: 8px 12px;
    background-color: #B6CEB4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.details {
    display: none;
}
.details-visible {
    display: block;
}
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: #314026;
    font-size: 0.9em;
}

form button:hover {
    background-color: #48623a;
}

#contact-form {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #b9cead;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(72, 223, 138, 0.1);
    align-items: center;
}
#contact-form label {
    font-weight: bold;
}
#contact-form input, #contact-form textarea {
    padding: 10px;
    border: 1px solid #4fbd58;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}
#contact-form input[type="submit"] {
    background-color: #5a8b40;
    color: #b6f0c6;
    padding: 16px 2px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(72, 223, 138, 0.1);
    width: 50%;
}
#contact-form input[type="submit"]:hover {
    background-color: #48623a;
}
.divider {
    border: none;
    height: 2px;
    background-color: #4fab1e;
    margin: 60px 0;
    width: 100%;
}
.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.link {
  display: inline-block;
  padding: 12px 24px;
  margin: 0 10px;
  background-color: #fffcfc;
  border: 2px solid #2b8730;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: rgb(0, 71, 0);
  text-decoration: none;
  transition: all 0.3s ease;
}

.header-text {
  padding: 0;
  margin-top: 1rem;
  color: rgb(11, 77, 11);
  text-align: center;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header-word {
  margin-left: 15px;
  font-size: 3.5rem;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  padding: 10px;
  color: rgb(0, 71, 0);
  margin: 10PX;
  background-color: #c3d1cf; 
  overflow: hidden;
  
 }
h3 {
  color: rgb(33, 96, 33);
   font-family: "Baskervville", serif;
}
p {
  color:black;
  padding: 10px;
  margin: 10px;
   font-family: "Baskervville", serif;
}
h4 {
  color: rgb(5, 44, 5);
}

footer {
  text-align: center;
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}
a {
  color: #2b8730; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  font-size: 17px; 
  background-color: #fffcfc;
  list-style-type: none;
}
.link:hover {
  color: #063b07; 
  text-decoration: underline; 
  background-color: #c3d1cf;
}
input {
  width: 300px; 
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-color:#ccc;
  border-radius: 5px;
  color: #063b07;
  border: 2px gray;
}
input::placeholder {
  font-size: 14px;
  font-style: italic;
  color: #063b07;
}
input:focus {
  outline:solid 2px rgb(16, 151, 119);

}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  h1 {
    font-size: 30px;
    padding: 20px;
  } 
  footer {
    font-size: 12px;
    padding: 5px
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .project img {
    width: 100%;
    height: auto;
  }
  .navlinks {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10%;
  }
  .link {
    width: 100%;
    max-width: 300px;
    margin: 5px auto;
    text-align: center;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}